body {
    text-align: center;
    font-size: 14px;
}

.title {
    margin: 0 auto;
    width: 720px;
    position: relative;
}

.update {
    margin: 0 auto;
    width: 720px;
    line-height: 20px;
    font-size: 14px;
    color: #222222;
    position: relative;
    text-shadow: 0 0 black;
}

.recent {
    margin: 0 auto;
    width: 720px;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    padding-top: 20px;
    position: relative;
}

.icbar {
    width: 180px;
    margin-right: 0px;
    position: relative;
    text-align: center;
}

.icbar:first-child {
    border-radius: 12px 0 0 12px;
}

.icbar:last-child {
    border-radius: 0 12px 12px 0;
}

.icbar.confirm {
    background-color: #FDF1F1;
}

.icbar.suspect {
    background-color: #FFF7ED;
}

.icbar.heal {
    background-color: #F1F8F4;
}

.icbar.dead {
    background-color: #F8F8F8;
}

.legend {
    margin: 0 auto;
    width: 720px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
    position: relative;
}

.colorbar {
    width: 48px;
    height: 20px;
    position: relative;
    text-align: center;
}

.map {
    text-align:center;
    width:720px; 
    height: 560px; 
    margin: 0 auto;
}

.evolve {
    margin: 0 auto;
    width: 720px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;

}

.evolve .btn {
    width: 100px;
    height: 30px;
    position: relative;
    text-align: center;
}

.evolve .date {
    width: 200px;
    height: 30px;
    position: relative;
    text-align: center;
}